*{
  box-sizing: border-box;
}

.container-flex-categories{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  font-size:20px;
  justify-content:space-evenly;
  padding:20px;
  width: 100%;
}

.category-item{
  border-radius:5px;
  color:white;
  font-size:20px;
  height:50px;
  padding:15px;
  padding-top:12px;
  overflow: hidden;
  text-align:center;
  text-shadow: 2px 2px 8px #FF0000;
  top:-5px;
  width:120px;
  -webkit-transition: background-color 4s ease-out;
  -moz-transition: background-color 4s ease-out;
  -o-transition: background-color 4s ease-out;
  transition: background-color 4s ease-out;
}

.category-item:hover{
  border: 1px solid white;
  background-color: #FA8072;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:#c4d6f6;
  cursor: pointer;
  margin-top:-1px;
}

.category-active{
    border: 1px solid white;
}

.container-store{
	display:flex;
	justify-content: center;
	align-items:center;
	text-align:center;
  position:relative;
	width:100%;
}

.container-products{
	text-align:center;
	max-width:1000px;
  z-index:1000;
}

.card{
	border:1px solid white;
	border-radius:5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: inline-block;
	height:250px;
	margin:20px;
  overflow:hidden;
	padding-bottom:10px;
  transition:all 0.35s;
  width:260px;
}

.card:hover{
  transform:scale(0.95);
}

.product-image{
	background-position: 30% 10%;
  background-repeat: no-repeat;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  display: block;
  float:left;
  height:250px;
  object-fit:cover;
  position:relative;
  top:-30px;
  transition:all 0.35s;
  width:100%;
}

.product-image:hover{
  transform:scale(1.3);
}

.button-buy-now{
  border: 1px solid white;
  border-radius:5px;
  color:white;
  float:right;
  padding:5px;
  position:relative;
  right:5px;
  text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  top:15px;
  z-index:1000;
}

.price-container{
   border-color: transparent transparent transparent #00f;
   border-style: solid;
   border-width: 0px 0px 80px 110px;
   opacity: .5;
   position: absolute;
   z-index:500;
}

.product-price{
	color:white;
	position:absolute;
	margin-left:10px;
	margin-top:10px;
	z-index:1000;
}

.category-text-container{
  background-color:blue;
  height:40px;
  opacity: .5;
  position: relative;
  top:210px;
  width:100%;
  z-index:500;
}

.category-text{
  color: silver;//#fddde0;
  float: right;
  font-size: 30px;
  left:-20px;
  top:-70px;
  position: relative;
  z-index: 2000;
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px){

  .container-flex-categories{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    font-size:20px;
    height: 150px;
    justify-content:space-evenly;
    padding:20px;
    position: relative;
    top:-400px;
    width: 100%;
    z-index:2000;
  }

  .elementsMoveDown{
    animation-duration: 1.5s ;
    animation-name: elementsMoveDown;
    animation-fill-mode:forwards;
  }

  @keyframes elementsMoveDown{
    from {
       top:-400px;
    }
    to {
       top:-200px;
    }
  }

  .elementsMoveUp{
    animation-duration: 1.5s ;
    animation-name: elementsMoveUp;
    animation-fill-mode:forwards;
  }

  @keyframes elementsMoveUp{
    from {
       top:-200px;
    }
    to {
       top:-400px;
    }
  }

  .container-store{
    top:-400px;
  }

  .productsMoveDown{
    animation-duration: 1.5s ;
    animation-name: productsMoveDown;
    animation-fill-mode:forwards;
  }

  @keyframes productsMoveDown{
    from {
       top:-400px;
    }
    to {
       top:-200px;
    }
  }

  .productsMoveUp{
     animation-duration: 1.5s;
     animation-name: productsMoveUp;
     animation-fill-mode:forwards;
  }

   @keyframes productsMoveUp{
     from {
        top:-200px;
     }
     to {
      top:-400px;
     }
   }
}
