*{
  box-sizing:border-box;
}

body{
  background-color:#febfd1;
  background-image:
    linear-gradient(

      to top,
      #fbeced,
      #fba3bf,
      #fde3eb);
  margin:0;
  padding:0;
}

.hero-carousel{
	position:relative;
	height:500px;
	overflow:hidden;
	width:100%;
}

.sliding-images{
  background-position: 30% 10%;
  background-repeat: no-repeat;
  background-size:cover;
  display: block;
  float:left;
  height:600px;
  object-fit:cover;
  position:absolute;
  top:-100px;
  width:100%;
  z-index:100;
}

.display{
	opacity:1;
}

.hide{
	opacity:0;
}

.chevron-left{
	border: 1px solid white;
	border-top:0px;
	border-right:0px;
	display:block;
	float:left;
	height: 50px;
	left: 80px;
  opacity: 0.5;
	position:absolute;
	transform: rotate(45deg); /* Equal to rotateZ(45deg) */
	top: 240px;
	width: 50px;
	z-index:2000;
  transition: border 0.5s ease-out, opacity 0.5s ease-out;
}

.chevron-left:hover{
	border: 10px solid black;
  border-top:0px;
	border-right:0px;
	cursor:pointer;
  opacity: 1;
}

.chevron-right{
	border: 1px solid white;
	border-bottom:0px;
	border-left:0px;
	display:block;
	float:right;
	height: 50px;
  opacity:0.5;
	position:absolute;
	right:80px;
	transform: rotate(45deg);
	top: 240px;
	width: 50px;
	z-index:2000;
  transition: border 0.5s ease-out, opacity 0.5s ease-out;
}

.chevron-right:hover{
	border: 10px solid black;
  border-bottom:0px;
	border-left:0px;
	cursor:pointer;
  opacity:1;
}

.container-flex-header{
  background-image:linear-gradient(
                    to bottom,
                    #febfd1,
                    #fceff1
                    );
  display:block;
  height:500px;
	margin-top:-10px;
  width:100%;
	z-index:1000;
}

.container-flex-nav{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-between;
	align-content:flex-end;
	align-items:flex-start;
  background-image:radial-gradient(
                  	circle at top right,
                    #fbeced,
                    #fba3bf,
                    #fde3eb);
  background: transparent;
	border-radius:5px;
	height:150px;
  position: absolute;
  top: 0px;
	width:100%;
	z-index:1000;
}

.logo{
	background: radial-gradient(circle at top right,#fec5d5, #fedfe8);
	border: 1px solid #f5c5ca;
	border-radius:5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height:80px;
	margin:10px 25px;
	opacity: 0.7;
	position: relative;
  top:50px;
	width: 200px;
	z-index:1000;
}

.logo-image{
  height:120px;
  left:25px;
  position:relative;
  top:-60px;
  width:200px;
  z-index:1200;
}

.flex-navigation{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-around;
	border-bottom: 1px solid #f5c5ca;
	margin:0;
  position:relative;
  width: 700px;
	z-index:1000;
}

ul li{
	display: inline;
}

.status-li{
	border-radius:5px;
	color:white;
	font-size:20px;
	height:35px;
	margin-top:5px;
  padding:10px;
	padding-top: 8px;
	text-align:center;
  text-shadow: 2px 2px 8px #FF0000;
	min-width:80px;
	-webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.status-li:hover{
	background-color: #F9D9DC;
  cursor: pointer;
}

.status-active{
  border:1px solid white;
}

.flex-membership{
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content: space-around;
	border-radius:5px;
  color: white;
  line-height:1px;
  padding:10px;
  position:absolute;
  right:4px;
  top:50px;
  width:300px;
	z-index:1000;
}

.search-container{
  display:inline-block;
  height:30px;
  position:relative;
  width:287px;
}

.search-box{
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float:left;
  height:30px;
  text-align:left;
  text-shadow: 2px 2px 8px #FF0000;
  width:210px;
}

.search-box >p{
  padding-left: 15px;
  position: relative;
  top: -1px;
}

.search-button{
  border: 1px solid white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float:right;
  height: 30px;
  right:33px;
  width: 40px;
  position:absolute;
  text-shadow: 2px 2px 8px #FF0000;
}

.search-button >p{
  padding-left: 5px;
  position: relative;
  top: -1px;
}

.info-nav{
  float:left;
  position: relative;
  text-shadow: 2px 2px 8px #FF0000;
  top: 5px;
}

.info-cart{
  float:left;
  position: relative;
  text-shadow: 2px 2px 8px #FF0000;
  top: -3px;
}

.membership{
	border:1px solid white;
	border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	height: 30px;
  margin-bottom: 3px;
  padding-top: 15px;
  text-align:center;
  text-shadow: 2px 2px 8px #FF0000;
	width:170px;
  background-color:transparent;
	-webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.membership:hover{
	background-color: #F9D9DC;
  	cursor: pointer;
}

.hamburger{
	display:none;
}

.mobile-navigation-section{
    display:none;
}

.mobile-nav-container{
	display:none;
}

.website-title-container{
  border: 1px solid transparent;
  color:white;
  float:left;
  left:-500px;
	margin-top:30px;
	position: relative;
  top:100px;
  width:350px;
}

.website-title{
  width:300px;
  z-index: 1000;
}

.svg-container {
  background:transparent;
  border: 1px solid transparent;
  height:80px;
  overflow: hidden;
  position:relative;
  top:-80px;
  width: 100%;
  z-index:100;
}

.svg1{
  border: 1px solid transparent;
  float: left;
  position:relative;
  width:100%;
}

.increaseOpacity {
    animation-duration: 3s ;
    animation-name: increaseOpacity;
    animation-fill-mode:forwards;
}

@keyframes increaseOpacity {
  from {
     opacity: 0.6;
  }
  to {
     opacity: 1;
  }
}

.fadeIn {
    animation-duration: 3s ;
    animation-name: fadeIn;
    animation-fill-mode:forwards;
}

@keyframes fadeIn {
  from {
     opacity: 0.6;
  }
  to {
     opacity: 1;
  }
}

.fadeOut {
    animation-duration: 3s;
    animation-name: fadeOut;
    animation-fill-mode:forwards;
}

@keyframes fadeOut {
  from {
     opacity: 1;
  }
  to {
     opacity: 0;
  }
}


/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {  }

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  .container-flex-nav{
  		display:block;
	}

	.logo{
    display:flex;
    margin: 10px 25px;
		position: relative;
	}

	.flex-navigation{
		display: none;
	}

  .website-title{
    display:none;
  }

  .hamburger{
    cursor:pointer;
		display: block;
    float:right;
		height:50px;
		position:relative;
		right: 50px;
	  top:-150px;
		width:50px;
		z-index:1000;
	}

	.hamburger-line{
		color:black;
		background-color:white;
		height:3px;
		margin:7px;
		width:40px;
	}

  .flex-membership{
    display:inline-block;
    float:left;
    position:relative;
    top:-210px;
    width:100%;
  }

  .info-cart{
    display:block;
    float:right;
    position:relative;
    right:210px;
    top:-1px;
  }

  .info-nav{
    font-size:16px;
    position:relative;
    top:-2px;
  }

  .search-container{
    float:left;
    position:relative;
  }

  .membership{
    float:right;
    position:relative;
    right:-45px;
  }

  .mobile-navigation-section{
      position: relative;
      top: -100px;
      display:block;
  }

  .mobile-nav-container{
		display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
		left: 0;
		height:200px;
	  opacity:0;
		position:relative;
    top:-50px;
		width:100%;
		z-index:2000;
	}

	.mobile-nav-container li{
		display:block;
		font-size:20px;
		font-weight: bold;
		line-height: 35px;
		padding-left:-20px;
		margin-left:-30px;
		-webkit-transition: background-color 0.7s ease-out, font-size 0.5s ease-out;
		-moz-transition: background-color 0.7s ease-out, font-size 0.5s ease-out;
		-o-transition: background-color 0.7s ease-out, font-size 0.5s ease-out;
		transition: background-color 0.7s ease-out, font-size 0.5s ease-out;
		width: 100%;
		z-index:1000;
	}

	.mobile-nav-container li:hover{
		background-color:orange;
		cursor:pointer;
		font-size:23px;
	}

	.mobile-nav-item{
    color:white;
		text-align:center;
		z-index:1000;
	}

  .fadeInAndMoveDown{
    animation-duration: 1.5s ;
    animation-name: fadeInAndMoveDown;
    animation-fill-mode:forwards;
  }

  @keyframes fadeInAndMoveDown{
    from {
       opacity: 0;
       top:-150px;
    }
    to {
       opacity: 1;
       top:-30px;
       z-index:1100;
    }
  }

    .fadeOutAndMoveUp{
     animation-duration: 1.5s;
     animation-name: fadeOutAndMoveUp;
     animation-fill-mode:forwards;
    }

   @keyframes fadeOutAndMoveUp{
    from {
      opacity: 1;
      top:-30px;
    }
     to {
      opacity: 0;
      top:-150px;
      z-index:-1;
    }
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px){
  .info-nav{
    display:none;
  }

  .logo{
    display:none;
  }

  .logo-image{
    height: 120px;
    left: 25px;
    top: -20px;
    z-index: 1200;
  }

  .chevron-left{
    display:none;
  }

  .chevron-right{
    display:none;
  }

  .mobile-navigation-section{
    display:block;
    z-index:1;
  }
}



/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .info-cart{
    display:none;
  }

  .membership{
    right:20px;
  }

  .svg-container{
    display:none;
  }
}
