*{
  box-sizing:border-box;
}

.footer-section{
  background-image: linear-gradient(to bottom right, #b1afe8, #3E38C7);
  height:400px;
  padding:30px;
  text-align:center;
  width:100%;
}

.footer-elements-ul{
    display:inline-block;
    width:100%;
}

.footer-element-li{
  background-color: #C7387A;
  border: 1px solid white;
  border-radius:5px;
  color:white;
  cursor:pointer;
  display:inline-block;
  font-size:17px;
  height:70px;
  margin:10px;
  padding-top:20px;
  position:relative;
  top:70px;
  width:200px;
}

.button-home-text{
  color:white;
  text-decoration:none;
}



/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {  }

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { }

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { }

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .footer-section{
    height:800px;
  }
}
