.button-close-window{
  border:1px solid black;
  border-radius:50px;
  cursor: pointer;
  display:block;
  float:right;
  font-size:30px;
  height:30px;
  position:relative;
  text-align:center;
  vertical-align: -10px;
  width:30px;
}

.button-close-window-text{
  position:relative;
  top:-6px;
}
